<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!--******************** List Mock UP ********************** -->
  <h4>Mannschaftsvergehen - Übersicht</h4>
  <ion-list>
    <ion-item *ngFor="let teamPenalty of teamPenalties" click="onSelectLatestTeamPenalty(teamPenalty)">
      <ion-label>
        <h3>{{teamPenalty.penalty.cost}}</h3>
        <p>{{teamPenalty.user.name}}, Vergehen: {{teamPenalty.penalty.name}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!--******************** Dashboard Tiles ********************** -->

  <ion-grid>
    <ion-row>
      <ion-col id="first-col">
        <svg  xmlns="http://www.w3.org/2000/svg" 
              xmlns:xlink="http://www.w3.org/1999/xlink" 
              xml:space="preserve" 
              style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
              viewBox="0 0 500 500">
          <g id="dashboard-circle">
            <circle style="fill:red;stroke:#010101;stroke-width:1.6871;stroke-miterlimit:10;" cx="250" cy="250" r="30%" /> 
            <text x="50%" y="50%" style="fill:#fff" text-anchor="middle" stroke="#51c5cf" stroke-width="2px" dy=".375em" font-size="15rem">5</text>
          </g>
        </svg>
        <p class="footer">Offene Strafen</p>   
      </ion-col>

      <ion-col id="second-col">
        	<div class="container">
            <h1>-53,00€</h1>
          </div>
          <p class="footer">Schuldenbetrag</p>   
      </ion-col>

      <ion-col id="third-col">
        <div class="container">
          <ion-spinner name="lines"></ion-spinner>
        </div>
        <p class="footer">Strafen Oktober</p>   
      </ion-col>
    </ion-row>
  </ion-grid>

  <!--******************** Messenger ********************** -->

  <ion-list id="messenger">
      <ion-item>
        <ion-label>
          <h5>Trainer, 19.00Uhr: "Spiel beginnt gleich"</h5>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h5>Trainer, 19.00Uhr: "Spiel beginnt gleich"</h5>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h5>Trainer, 19.00Uhr: "Spiel beginnt gleich"</h5>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h5>Trainer, 19.00Uhr: "Spiel beginnt gleich"</h5>
        </ion-label>
      </ion-item>
    </ion-list>


  <!--******************** Fab ********************** -->

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="arrow-dropup"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
          <ion-fab-button><ion-icon name="add-circle"></ion-icon></ion-fab-button>
        </ion-fab-list>
        <ion-fab-list side="start">
          <ion-fab-button><ion-icon name="create"></ion-icon></ion-fab-button>
        </ion-fab-list>

  </ion-fab>

</ion-content>